.main-element {
    position: relative;
    top: -8.8rem;
}

.main-element.fixed {
    position: fixed;
    background-color: white;
    top: 0 !important;
    right: 0;
}

.main-overlay {
    background-color: #393d43;
    opacity: 0.25;
}

.body-home {
    padding: 8rem 0;
}

.body-favorite {
    padding-top: 14rem;
}

.sub-text {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: #a1a1a1;
}

.icon-rating {
    color: #f7c942;
    margin-right: .5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.hidden {
    display: none !important;
}

.skip-link {
    padding: 2rem;
    position: absolute;
    top: -7rem;
    color: white;
    z-index: 100;
    background-color: transparent;
    border: none;
}

.skip-link:focus {
    top: 0;
}

.btn {
    padding: 1.5rem;
    font-size: var(--font-size);
    font-weight: 700;
    cursor: pointer;
    border-radius: .35rem;
}

.btn-primary {
    color: white;
    background-color: #ef6c00;
    border-color: transparent;
    background-color: #ef6c00;
}

.btn-secondary {
    color: #ef6c00;
    background-color: white;
    border-style: solid;
    border-color: #ef6c00;
    border-width: 2px;
}

.btn-primary:hover {
    background-color: #fa9a4b;
}

.btn-secondary:hover {
    opacity: 0.6;
}

.btn:active {
    opacity: 0.4;
}

.disable {
    background-color: #d6d6d6;
    color: #a1a1a1;
    pointer-events: none !important;
}