.main-element {
    position: relative;
    top: -8.8rem;
}

.main-element.fixed {
    position: fixed;
    background-color: white;
    top: 0 !important;
    right: 0;
}

.main-overlay {
    background-color: #393d43;
    opacity: 0.25;
}

.body-home {
    padding: 8rem 0;
}

.body-favorite {
    padding: 14rem 0;
}

.sub-text {
    display: flex;
    align-items: center;
    height: 4rem;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: #a1a1a1;
}

.icon-rating {
    color: #f7c942;
    margin-right: .5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.hidden {
    display: none !important;
}

.skip-link {
    padding: 2rem;
    position: absolute;
    top: -7rem;
    color: white;
    z-index: 100;
    background-color: transparent;
    border: none;
}

.skip-link:focus {
    top: 0;
}