.empty-state-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: white;
    width: 100%;
}

.empty-state-wrapper h1 {
    text-align: center;
    font-weight: 800;
    color: #ef6c00;
}

.empty-state-wrapper h4 {
    text-align: center;
    font-weight: 700;
    color: #1a1a1a;
}

.empty-state-wrapper p {
    text-align: center;
    margin-top: 1rem;
}

.empty-state-wrapper a {
    color: #ef6c00;
    font-weight: 600;
}

.empty-state-wrapper a:hover {
    opacity: 0.4;
}

.empty-state-wrapper img {
    width: 40rem;
    margin-bottom: 5rem;
}