.background-hero {
    background-image: url("../../public/assets/desktop/hero-image_4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero-text-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
}

.hero-text {
    position: relative;
    width: 100%;
    color: white;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 1rem;
}

.hero-text h1 {
    font-weight: 800;
}

.hero-text h2 {
    font-size: var(--h5);
}

.search-bar input {
    padding: 1.5rem;
    margin: 2rem 0 1rem;
    font-size: var(--font-size);
    font-weight: 300;
    border-radius: .35rem;
    border: none;
    width: 100%;
}

::placeholder {
    color: #a1a1a1;
}

.search-bar button {
    width: 100%;
}

@media screen and (max-width: 320px) {
    .hero-text {
        padding: 1.5rem !important;
    }

    .hero-text h1 {
        font-size: var(--h2);
    }

    .search-bar input {
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 600px) {
    .background-hero {
        background-image: url('../../public/assets/mobile/hero-image_4-small.jpg') !important;
    }

    .hero-text-wrapper {
        grid-template-columns: 1fr !important;
    }

    .hero-text h2 {
        font-size: var(--font-size);
    }

    .hero-text {
        padding: 2rem;
    }

    .search-bar input {
        margin-top: 1rem;
        padding: 1.75rem;
        font-size: var(--min-font-size);
    }
}

@media screen and (max-width: 1024px) {
    .background-hero {
        background-image: url('../../public/assets/mobile/hero-image_4-medium.jpg');
        height: 50vh;
    }

    .hero-text-wrapper {
        grid-template-columns: 2fr 1fr;
        height: 55vh;
    }
}

@media only screen and (min-width: 1533px) {
    .hero-text-wrapper {
        gap: 35rem;
    }
}