.preloader-container {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}

.preloader-wrapper {
    display: grid;
    justify-items: center;
}

.preloader-wrapper img {
    width: 7rem;
    margin-bottom: 2rem;
}

.preloader-wrapper p {
    text-align: center;
    color: #ef6c00;
    font-weight: 700;
}